@import "tailwindcss";

:root {
  --text-primary: #212b36;
}

/* biome-ignore lint/suspicious/noUnknownAtRules: @theme is defined by Tailwind (https://tailwindcss.com/docs/theme) */
@theme inline {
  /* Backgrounds & fills */
  --color-primary: var(--text-primary);
  --color-secondary: #f8f9fb;
  --color-warning: #fef6d0;
  --color-border: #dfe1e4;
  --color-card-border: #ededf0;
  --color-button-primary: #212b36;
  --color-button-disabled: #1f000000;
  --color-card-divider: #ededf0;
  --color-input-border: rgba(239, 241, 244, 1);

  /* Text */
  --color-text-primary: var(--text-primary);
  --color-text-secondary: #9b9fa3;
}

/* prevent layout shift caused by scrollbar */
html {
  scrollbar-gutter: stable;
}

body {
  color: var(--text-primary);
  font-family: Inter, Arial, sans-serif;
}

/* Undo preflight for specific elements.*/
@layer base {
  /* Revert and restore styles for svg element */
  .revert-svg svg {
    all: revert;
    fill: none;
  }
}

.css-b62m3t-container .css-cp01gg-control {
  /* biome-ignore lint/complexity/noImportantStyles: override style from copilot design system */
  padding: 0px 9px !important;
}
